@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>

<p>This is test application for Junior C# .NET Developer position! </p>
<p>By Sergey Tihonov®</p>

<address>
    <strong>Support:</strong>   <p>sergtihonov77@gmail.com"</p><br />
</address>
